/* FONTS */

@font-face {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/staatliches-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/staatliches-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/staatliches-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/staatliches-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/staatliches-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/staatliches-v5-latin-regular.svg#Staatliches') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/kanit-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/kanit-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/kanit-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/kanit-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/kanit-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/kanit-v7-latin-regular.svg#Kanit') format('svg'); /* Legacy iOS */
}

/* ANIMATIONS */

@keyframes upWelcome{
    0%    {color: rgba(17, 17, 17, 0);}
    25%    {color: rgba(17, 17, 17, 0.03);}
    100%  {color: rgb(255, 255, 255);}
  }

/* MAIN POPUP STYLE */

html{
    overflow: hidden;
    height : 600px;
    width : 800px;
}

body{
    background-color: rgb(17, 17, 17);
}

.maintext{
    font-family: 'Staatliches', sans-serif;
    color: blanchedalmond;
    text-align: center;
    font-size: 35px;
    letter-spacing:2px;
}

.welcomeText{
    font-family: 'Kanit', sans-serif;
    color: blanchedalmond;
    text-align: center;
    font-size: 15px;
    letter-spacing:1px;
    transform: translateY(-100%);
    animation-name: upWelcome;
    animation-duration: 2s;
}

.signin {
    text-align: center;
    transition: 0.8s;
    margin-top: 20%;

}  

.signinbutton {
    background-color: limegreen;
    border-color: limegreen;
    border-style: solid ;
    border-radius: 40px;
    width: 150px;
    height: 50px;
    color: blanchedalmond;
    cursor: pointer;
}

.signin:hover {
    transform: scale(1.1);
}





